/* CSS BY KIDRON LEIP */

/* IMPORTED FONTS */

/* CSS REST */

/* ROOT VARIABLES */

/*  GLOBAL STYLES */
body {
    width: auto;
}

/* MEDIA QUERY (medium) */
@media (min-width: 600px) {

}

/* MEDIA QUERY (large) */
@media (min-width: 900px) {

}

/* MEDIA QUERY (xl) */
@media (min-width: 1200px) {

}